{% extends "base.html" %}

{% block content %}
    <div class="exercises">
        <h1 class="has-text-primary" style="color: #c9a97e; font-size: x-large; margin: 16px">Силовые упражнения:</h1>
        <div class="strength_exercises">
            {% for (idx, exercise) in strength_exercises.items() %}
            <div class='strength_exercise'>
                <div class="strength_training_idx">{{idx + 1}}</div>
                <div class="exercise_data">
                    <h2>{{exercise.exercise_name}}</h2>
                    <h3>Время начала упражнения: {{ exercise.start_datetime }}</h3>
                    <h3>Время окончания упражнения: {{ exercise.finish_datetime }}</h3>
                </div>
                <form class="training_more" action="{{ url_for('get_approaches', customer_id=customer_id,training_id=training_id, exercise_id=exercise.id) }}">
                  <button class="button is-block is-primary is-normal is-fullwidth">Подробнее</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <h1 class="has-text-primary" style="color: #c9a97e; font-size: x-large; margin: 16px">Беговые упражнения:</h1>
        <div class="running_exercises">
            {% for (idx, exercise) in running_exercises.items() %}
            <div class='running_exercise'>
                <div class="running_training_idx">{{idx + 1}}</div>
                <div class="exercise_data">
                    <h2>{{exercise.exercise_name}}</h2>
                    <h3>Расстояние: {{ exercise.distance }} км.</h3>
                    <h3>Продолжительность: {{ exercise.time }} мин.</h3>
                    <h3>Средняя скорость: {{ exercise.average_speed }} км/ч</h3>
                    <h3>Средний пульс: {{ exercise.average_pulse }} уд/мин</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}